<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=VideoGameExchange2023;Integrated Security=true;"/>
	</appSettings>
	<connectionStrings>
		<add
			name ="VideoGameExchangeDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=VideoGameExchange2023;Integrated Security=true;"
			providerName="Sql.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>